on:
  push:
    paths:
      - '**.Rmd'

name: Render Rmarkdown files

jobs:
  render:
    name: Render Rmarkdown files
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Curl
        run: sudo apt install libcurl4-openssl-dev libssl-dev
      - name: Install libgit2
        run: sudo apt install libgit2-dev
      - name: Install ICU4C
        run: sudo apt install libicu-dev
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - uses: r-lib/actions/setup-tinytex@v1
      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-
      - name: Install remotes and rmarkdown
        run: |
          install.packages("remotes")
          remotes::install_cran("rmarkdown")
        shell: Rscript {0}
      - name: Render Rmarkdown files
        run: |
          RMD_PATH=($(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep '[.]Rmd$'))
          Rscript -e 'files=commandArgs(TRUE); files=files[file.exists(files)]; cat("Attempting to render the following files: ", files, "\n"); for (f in files) rmarkdown::render(f)' ${RMD_PATH[*]}
